.inputErrorText {
  display: block;
  text-align: left;
  padding: 5px;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: var(--error-color);
}

.inputWrap {
  position: relative;
  margin-bottom: 16px;
}

.inputLabel {
}

.inputLabelText {
  display: block;
  padding: 10px;
}
